[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "round"]
	path = round
	url = https://gitlab.com/mmaechler/round
	shallow = true
	registered = true
